.profile-card {
    border: 1px solid var(--light-color);
    padding: 32px 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.avatar-name {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 20px;
}

.profile-card__avatar {
    margin-left: 30%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-card__description {
    margin-top: 1px;
    text-align: justify;
}

.profile-card__name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 35px;
    margin-top: 15px;
}

.first-photo {
    width: 600px;
    height: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.profile-card__tags {
    text-align: center;
}

.quotes {
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.global {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    border-bottom: 2px dashed DarkOrchid;
    padding-bottom: 3px;
    color: var(--light-color);
}