<div class="first-photo">
    <img src="/assets/imgs/geits.jpg" alt="">
</div>

<div class="profile-card">
    <div class="avatar-name">
        <img src="/assets/imgs/geits2.png" alt="avatar" class="profile-card__avatar">

        <div class="profile-card__name">
            <strong class="h6">Билл Гейтс</strong>
            <span class="subtitle">28 октября 1955 года (68 лет)</span>
        </div>
    </div>

    <div class="profile-card__description">
        <p>
            Билл Гейтс — американский бизнес-магнат, разработчик программного обеспечения, инвестор, писатель и филантроп.
        </p>

        <p>
            Он является соучредителем Microsoft вместе со своим другом детства Полом Алленом.
            Во время своей карьеры в Microsoft Гейтс занимал должности председателя правления, главного исполнительного директора (CEO),
            президента и главного архитектора программного обеспечения, а также был крупнейшим индивидуальным акционером до мая 2014 года.
        </p>

        <p>
            Гейтс является основателем и председателем правления нескольких компаний, включая BEN, Cascade Investment, bgC3 и TerraPower.
            Он пожертвовал значительные суммы денег различным благотворительным организациям и
            научно-исследовательским программам через Фонд Билла и Мелинды Гейтс, который считается крупнейшим в мире частным благотворительным фондом.
        </p>        
    </div>

    <div class="profile-card__tags">
        <!--<div class="skill-tag">Angular</div>
        <div class="skill-tag">HTML</div>
        <div class="skill-tag">CSS</div>
        <div class="skill-tag">JavaScript</div>
        <div class="skill-tag">C++</div>
        <div class="skill-tag">C#</div>
        <div class="skill-tag">Rust</div>-->

        <h3>Цитаты:</h3>

        <div class="quotes">«Patience is a key element of success»</div>
        <div class="quotes">«If you think your teacher is tough, wait till you get a boss»</div>
        <div class="quotes">«Life is not fair — get used to it!»</div>
        <div class="quotes">«Success is a lousy teacher. It seduces smart people into thinking they can’t lose»</div>
        <div class="quotes">«Be nice to nerds.Chances are you’ll end upworking for one»</div>
        
    </div>

    <!--<div class="profile-card__action-btns">
        <button class="btn">Подписаться</button>
    </div>-->

    <div class="global">
        <h3>Ресурсы:</h3>
        <p>
            <a href="https://en.wikipedia.org/wiki/Bill_Gates">Bill Gates - Wikipedia</a>
        </p>
        <p>
            <a href="https://www.gatesfoundation.org/">Bill & Melinda Gates Foundation</a>
        </p>
        <p>
            <a href="https://www.gatesnotes.com/">Home | Bill Gates</a>
        </p>
        <p>
            <a href=" https://twitter.com/billgates">twitter</a>
        </p>
    </div>
</div>